@import url('https://fonts.cdnfonts.com/css/bookman-old-style');

.a4 {
    width: 210mm;
    height: 297mm;
    margin: 0px;
}
.a4-landscape {
    height: 210mm;
    width: 297mm;
    margin: 0px;
}
.a4-landscape table {
    font-size: 9px !important;
    padding: 0px !important;
    font-weight: 500 !important;
}
.a4-landscape table tr {
    padding: 0px !important;
}
.a4-landscape table tr th {
    padding: 0px 0px 0px 5px !important;
}
.a4-landscape table tr td {
    padding: 0px 0px 0px 5px !important;
}
.headers {
    text-align: center;
}

.headers h1 {
    font-family: "Bookman Old Style";
    text-align: center;
    font-size: 18px;
}

.headers .logo {
    width: 0.71in;
    overflow: hidden;
    margin: 0px auto;
    padding: 0px 0px 10px 0px;
    position: static;
    text-align: center;

}

.headers .text {
    display: block;
    overflow: show;
}

.headers hr {
    margin: 0 auto;
    width: 400px;
    height: 0px;
    border: 1px solid #000;
}

.headers .logo img {
    width: 100%;
}

.suratketerangan {
    font-size: 12px;
    text-align: justify;
}

.suratketerangan .judul {
    text-align: center;
    margin-bottom: 10px;
}

.suratketerangan .judul h2 {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #000;
}

.suratketerangan .judul p {
    text-align: center;
    display: inline;
    border-top: 1px solid #000;
    font-size: 16px;

}

.footers {
    font-size: 10px;
}
.logoTable {
    width: 0.5in;
    overflow: hidden;
}
.dns8355 {
    font-size: 12px !important;
    font-weight: 700;
}
.kurikulum {
    font-size: 12px;
}
.efek-kaca {
    box-shadow: 2px 2px 10px rgba(0,0,0,.15);
    backdrop-filter: blur(1px);
}
.tutup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10000 !important;
    display: flex;
    align-items: center !important;
}
.tutup>div {
    margin: auto;
    display: block;
    animation: popup .1s ease-in forwards;
    animation-delay: .02s;
    transform:scale(0);
}


@keyframes popup {
    0%{
        transform:scale(0);
    }
    100%{
        transform:scale(1);
    }
}


@media print {
    body {
        visibility: hidden;
        margin: 0;
        padding: 0;
    }

    .a4 {
        visibility: visible !important;
        padding: .3cm 2cm .3cm 2cm !important;
    }
    .a4-landscape {
        visibility: visible !important;
        padding: .3cm 1cm .3cm 1cm;
        height: 100%;
    }

    .kaki {
        position: fixed;
        bottom: 10px;
        margin: 0px 40px 0px 0px;
        padding: 0px;
    }

    .mundur {
        visibility: hidden !important;
        display: none !important;
    }
}